* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#top-section {
    display: flex;
    justify-content: space-between;
}

#outer-shell {
    padding: 20px;
}

.hidden {
    display: none;
}

#high-scores-btn {
    background-color: purple;
    color: antiquewhite;
    border-radius: 5px;
    font-size: medium;
}

#high-scores-btn:hover {
    background-color: darkorange;
    color: navy;
    cursor: pointer;
}

#welcome-text {
    color: navy;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

#welcome-paragraph {
    text-align: center;
    color: navy;
    padding-bottom: 20px;
}

#start-button {
    background-color: purple;
    color: antiquewhite;
    border-radius: 5px;
    font-size: 30px;
    display: block;
    margin: 0 auto;

}

#start-button:hover {
    background-color: darkorange;
    color: navy;
    cursor: pointer;
}

#question-text {
    text-align: auto;
    color: navy;
    padding-top: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
    
}

#welcome-container {
    margin: 150px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    height: 260px;
    background-color: #f0ead6;
  }

  #quiz-container {
    margin: 150px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    height: 260px;
    background-color: #f0ead6;
  }


  li {
    padding: 5px;
  }

  .button {
    background-color: purple;
    color: antiquewhite;
    border-radius: 5px;
    font-size: medium;
  }
  
  button:hover {
    background-color: darkorange;
    color: navy;
    cursor: pointer;
  }

  #ol {
    list-style: none;
    padding: 2%;
    margin-left: 20px;
  }

  #quiz-end-container {
    margin: 150px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    height: 260px;
    background-color: #f0ead6;
  }

  #submit-button {
    background-color: purple;
    color: antiquewhite;
    border-radius: 5px;
    font-size: medium;
  }

  #score-text {
    margin-left: 5px;
    color: navy;
  }

  .finish-form {
    display: flex;
    justify-content:start;
    padding-top: 20px;
    flex-basis: 50%;
    margin-left: 20px;
    color: navy;

  }

  #highscores-container {
    margin: 150px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    height: 260px;
    background-color: #f0ead6;

  }

  #highscores-text {
    text-align: auto;
    color: navy;
    padding-top: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
  }

    
  .highscore-buttons:hover {
    background-color: darkorange;
    color: navy;
    cursor: pointer;
}

#go-back-btn {
    background-color: purple;
    color: antiquewhite;
    border-radius: 5px;
    font-size: medium;
    display: block;
    margin-left: 20px;
    margin-top: 10px;  
}

#clear-btn {
    background-color: purple;
    color: antiquewhite;
    border-radius: 5px;
    font-size: medium;
    display: block;
    margin-left: 20px;
    margin-top: 10px;
}